In [2]:
import pandas as pd

In [3]:
rows_0_100 = pd.read_csv('save-first100.csv')
rows_101_200 = pd.read_csv('save-first101-200.csv')
rows_201_400 = pd.read_csv('save-first201-400.csv')
rows_401_600 = pd.read_csv('save-first401-600.csv')

In [5]:
frames = [rows_0_100, rows_101_200, rows_201_400, rows_401_600]
result = pd.concat(frames)
result.head()

,Unnamed: 0,query,answer,options,sum_supports
0,0,What event did Juan Rossell participate in?,1996 summer olympics,"['1996 summer olympics', 'olympic games', 'spo...","The 2004 Summer Olympic Games, held in Athens..."
1,1,What languages did John Osteen speak or write?,english,"['english', 'greek', 'koine greek', 'nahuatl',...",Christianity is a monotheistic religion based...
2,2,What is the parent taxon of Proaigialosaurus?,lepidosauria,"['alligatoridae', 'amphibia', 'amphisbaenia', ...",Herpetology is the branch of zoology that stu...
3,3,What is the parent taxon of Australosuchus?,crocodilia,"['animal', 'area', 'crocodile', 'crocodilia', ...",Mekosuchinae was a subfamily of crocodiles th...
4,4,What was the occupation of Cao Chong?,physicist,"['academic', 'builder', 'chancellor', 'classic...",The Three Kingdoms period (220280) in China w...

In [6]:
result.to_csv('wikihop-merged-summarized.csv')