In [2]:
import pandas as pd

In [3]:
rows_0_100 = pd.read_csv('save-first100.csv')
rows_101_200 = pd.read_csv('save-first101-200.csv')
rows_201_400 = pd.read_csv('save-first201-400.csv')
rows_401_600 = pd.read_csv('save-first401-600.csv')

In [5]:
frames = [rows_0_100, rows_101_200, rows_201_400, rows_401_600]
result = pd.concat(frames)
result.head()

,Unnamed: 0,query,answer,options,sum_supports
0,0,What event did Juan Rossell participate in?,1996 summer olympics,"['1996 summer olympics', 'olympic games', 'spo...","The 2004 Summer Olympic Games, held in Athens..."
1,1,What languages did John Osteen speak or write?,english,"['english', 'greek', 'koine greek', 'nahuatl',...",Christianity is a monotheistic religion based...
2,2,What is the parent taxon of Proaigialosaurus?,lepidosauria,"['alligatoridae', 'amphibia', 'amphisbaenia', ...",Herpetology is the branch of zoology that stu...
3,3,What is the parent taxon of Australosuchus?,crocodilia,"['animal', 'area', 'crocodile', 'crocodilia', ...",Mekosuchinae was a subfamily of crocodiles th...
4,4,What was the occupation of Cao Chong?,physicist,"['academic', 'builder', 'chancellor', 'classic...",The Three Kingdoms period (220280) in China w...

In [6]:
result.to_csv('wikihop-merged-summarized.csv')

In [3]:
df = pd.read_csv('wikihop-merged-summarized.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,query,answer,options,sum_supports
0,0,0,What event did Juan Rossell participate in?,1996 summer olympics,"['1996 summer olympics', 'olympic games', 'spo...","The 2004 Summer Olympic Games, held in Athens..."
1,1,1,What languages did John Osteen speak or write?,english,"['english', 'greek', 'koine greek', 'nahuatl',...",Christianity is a monotheistic religion based...
2,2,2,What is the parent taxon of Proaigialosaurus?,lepidosauria,"['alligatoridae', 'amphibia', 'amphisbaenia', ...",Herpetology is the branch of zoology that stu...
3,3,3,What is the parent taxon of Australosuchus?,crocodilia,"['animal', 'area', 'crocodile', 'crocodilia', ...",Mekosuchinae was a subfamily of crocodiles th...
4,4,4,What was the occupation of Cao Chong?,physicist,"['academic', 'builder', 'chancellor', 'classic...",The Three Kingdoms period (220280) in China w...

In [7]:
df_filtrato = df[df['sum_supports'].str.endswith('<|end|>')]
len(df_filtrato)

332

In [8]:
df_filtrato['sum_supports'] = df_filtrato['sum_supports'].str.replace('<|end|>', '', regex=False)

/tmp/ipykernel_2151601/3600082382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrato['sum_supports'] = df_filtrato['sum_supports'].str.replace('<|end|>', '', regex=False)

In [10]:
df_filtrato.head()

,Unnamed: 0.1,Unnamed: 0,query,answer,options,sum_supports
0,0,0,What event did Juan Rossell participate in?,1996 summer olympics,"['1996 summer olympics', 'olympic games', 'spo...","The 2004 Summer Olympic Games, held in Athens..."
1,1,1,What languages did John Osteen speak or write?,english,"['english', 'greek', 'koine greek', 'nahuatl',...",Christianity is a monotheistic religion based...
3,3,3,What is the parent taxon of Australosuchus?,crocodilia,"['animal', 'area', 'crocodile', 'crocodilia', ...",Mekosuchinae was a subfamily of crocodiles th...
6,6,6,What is the'record_label method man' associate...,loud records,"['1995', '1996', 'album', 'english', 'epic', '...","Wu-Tang Clan's debut album, ""Enter the Wu-Tan..."
7,7,7,In which administrative territorial entity is ...,raipur district,"['bangladesh', 'bhopal', 'bhutan', 'canada', '...","Chhattisgarh, a state in central India, is ri..."

In [11]:
df_filtrato.to_csv('wikihop-merged-summarized-test.csv')